<div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/dashboard">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#/dashboard">Home</a></li>
          <li><a href="#/folders">Folders</a></li>
          <li><a href="#/friends">Friends</a></li>
          <li class="active"><a href="#/users">User Search</a></li>
        </ul>
      </div>
    </nav>
</div>